

<form method="post" action="">
    <input type="hidden"name="Id" value="@ViewBag.CompanyId" />
    <div>Название компании</div>
    <input name="Name" type="text" />
    <div>Организационно-правовая форма</div>
    <input name="OrganizationalForm" type="text" />
    <input type="submit" value="отправить" />
</form>

<input type="button" value="ОТМЕНА" href="/Home/Companies" />